<mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile>
        {{number}}
    </mat-grid-tile>
    <mat-grid-tile>
        {{current}}
    </mat-grid-tile>                    
</mat-grid-list>
<mat-grid-list cols="3" rowHeight="60px">     
   <mat-grid-tile *ngFor="let button of buttons">   
        <button *ngIf="button !== undefined" mat-mini-fab color="primary" (click)="click(button)">
           {{button}}
        </button>
    </mat-grid-tile>
</mat-grid-list>     
<mat-form-field>
    <input matInput [(ngModel)]="answer">
</mat-form-field>
<add-remove [solver]="this">
</add-remove>