<mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile>
        <mat-checkbox [(ngModel)]="northwest" (change)="check()"></mat-checkbox>                
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-checkbox [(ngModel)]="north" (change)="check()"></mat-checkbox>            
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-checkbox [(ngModel)]="northeast" (change)="check()"></mat-checkbox>                
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-checkbox [(ngModel)]="west" (change)="check()"></mat-checkbox>            
    </mat-grid-tile>
    <mat-grid-tile>
       {{current}}
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-checkbox [(ngModel)]="east" (change)="check()"></mat-checkbox>                
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-checkbox [(ngModel)]="southwest" (change)="check()"></mat-checkbox>            
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-checkbox [(ngModel)]="south" (change)="check()"></mat-checkbox>            
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-checkbox [(ngModel)]="southeast" (change)="check()"></mat-checkbox>            
    </mat-grid-tile>
</mat-grid-list>
<mat-form-field>
    <input matInput [(ngModel)]="answer">
</mat-form-field>
<add-remove [solver]="this">
</add-remove>